body
{
background-color: #d1dcd9;
/*#eae9e9;*/
    
}
main
{
    margin-top: 51px;
}

.navbar {
    background-color: #23474c;
    border-color: #0f4148;
}
 .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #0d313a!important;
}

.polls-list td>a
{
    text-decoration: none!important;
}

/****** Login Styling ******/

.login {
	margin: 86px auto 0 auto;
	text-align: center;
}

#login-btn {
	width: 225px;
	padding: 7px 5px;
}

.btn p {
	margin: 8px 0 0 0;
	padding: 0;
}

.btn > img {
	float: left;
	margin-left: 10px
}
