<!DOCTYPE html>

<html lang="en">
	<head>
		<% include ./partials/head.ejs %>
	</head>

	<body>
    	<header>
    		<% include ./partials/header.ejs %>
    	</header>
        <main>
            <div class="container">
		        <h1>Home</h1>
		     
		       <% if(isLoggedIn) { %>
	    	    <a class='btn btn-primary btn-lg'>
		        	<i class='fa fa-plus fa-fw'></i>
		        	<span>Create Poll</span>
	        	</a>
	        	<a class='btn btn-primary btn-lg'>
		        	<span>View My Polls</span>
	        	</a>
	        	<hr/>
		        <% } %>
		        
		        <h3>Polls</h3>
	  
		        
		        <table class='table table-striped table-hover'>
		        <% polls.forEach(function(poll) { %>
		        		<tr>
				        	<td>
				        		<a href='/vote/2' style='display:block;width:100%;height:100%'>		        		
				        		 <%= poll.question %>
				        		<div>
				        		 	<em class='text-muted'> - <%= poll.createdby %> </em>
				        		</div>
			        		</a>
				        	</td>
				        	<td width="50px" style='vertical-align:middle;'>
				        		<a href='/poll/2'>
				        			<i class='fa fa-edit fa-lg'></i>
				        		</a>
				        	</td>
			        	</tr>	
		        <% }); %>
		        </table>
		        
		
		    </div>
        </main>
	</body>
	
   	<% include ./partials/mainscripts.ejs %>
</html>

