<!DOCTYPE html>

<html lang="en">
	<head>
		<% include ./partials/head.ejs %>
	</head>

	<body>
    	<header>
    		<% include ./partials/header.ejs %>
    	</header>
        <main>
            <div class="container">
		        <h1>Vote!</h1>
		     
		       <h3> <%- poll.question %></h3>
		       
		       <input type='radio' name='choices' value='1'>
			   
		    </div>
        </main>
	</body>
	
    	
   	<% include ./partials/mainscripts.ejs %>

</html>

